<!Doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
<form action="/madlib">   
    
    <h2>Choose a color</h2>
    <select name="color">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
    </select>


    <h2>Input a noun</h2>

    <input type="text" name="noun">

 
    <h2>Pick a person:</h2>

    <input type="radio" name="person" value="Generosa">Generosa
    <input type="radio" name="person" value="Lydia">Lydia

 
    <h2>Choose an adjective:</h2>

    <input type="checkbox" name="adjective" value="fun">fun
    <input type="checkbox" name="adjective" value="joyful">joyful
    <input type="checkbox" name="adjective" value="meager">meager
<input type="submit">    
</form>    

     
</body>
</html>